<html>
<head>
</head>
<body>
<form action = "#" method = "post">
{%csrf_token%}

<title>ENDANGERED SPECIES</title>
</head>
<body bgcolor= "red">
<font color = "black" face = "Bold" size= "5">
<h1 align = "center">ENDANGERED SPECIES</h1>
</body>


<table border = "30", width =40% align = "center", cellspacing "50" cellpadding "50">

<tr>
<td bgcolor = "yellow", align = "center"><font color = "WHITE" face= "Verdana"><a href = "home.html">Home</font></td>
<td bgcolor = "yellow", align = "center"><font color = "WHITE" face= "Verdana"><a href = "about.html">About us</font></td>
<td bgcolor = "yellow", align = "center"><font color = "WHITE" face= "Verdana"><a href = "services.html">Services</font></td>
<td bgcolor = "yellow", align = "center"><font color = "WHITE" face= "Verdana"><a href = "ticket.html">Tickets</font></td>
<td bgcolor = "yellow", align = "center"><font color = "WHITE" face= "Verdana"><a href = "contact.html">Contact Us</font></td>
<td bgcolor = "yellow", align = "center"><font color = "WHITE" face= "Verdana"><a href = "admin.html">Admin</font></td></tr>
</table>



<body>
<form>
<h1>Order Form</h1>
<p>Enter Name :<input type = "text" name = "txtname"></p>
<p>Quantity :<input type = "text" name = "txtqty" size = "2"></p>


<p>Select Size : <input type = "radio" name = "size" 'Checked' value = large >Premium Ticket
<input type = "radio" name = "size" value = Medium>Deluxe Ticket
<input type = "radio" name = "size" value = small>Ticket


</p>
<p><input type = "submit" value = "Submit"></p>
</form>
</body>
</html>





<font color= "white" face="Bold" size="5">
<h2>ENDENGERED SPECIES® All Rights Reserved - 2021</h2>
<hr color = "yellow">
